@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For WebKit browsers (Chrome, Safari) */
.wrapper::-webkit-scrollbar {
    width: 0px; 
}

/* .wrapper::-webkit-scrollbar-thumb {
    background-color: #3c87ff; 
    border-radius: 6px; 
}

.wrapper::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.wrapper::-webkit-scrollbar-track-piece:vertical {
    background-color: #ddd; 
    border-radius: 6px;
} */


body{
    background: #1e3c72;  
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72); 
    background: linear-gradient(to right, #2a5298, #1e3c72); 

    font-family: "Lobster Two";
    margin: 0;
    height: 100vh;
}

h1{
    color: white;
    font-size: 39px;
    margin-top: 40px;
    text-align: center;
}

.container {
    display: flex;
    gap: 4rem; 
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 70px;
    margin-top: 50px;
    padding-bottom: 70px;
}

.side-image {
    width: 400px; 
    height: auto;
    filter: drop-shadow(4px 4px 6px rgb(24, 24, 24));
}

.wrapper{
    width: 100%;
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #1f3249, #141E30);  
    background: linear-gradient(to right, #21364e, #141E30); 
    color: white;
    border-radius: 12px;
    padding: 50px 0;
    overflow: auto;
    max-height: 80vh;
}

.taskinput{
    height: 40px;
    position: relative;
    padding: 0 25px;
}

.taskinput i{
    position: absolute;
    top: 50%;
    transform: translate(17px,-50%);
}

.taskinput input{
    width:100% ;
    height: 100%;
    font-size: 1.05rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #aeaeae;
    padding: 0 20px 0 50px;
    font-family: "Lobster Two";
}

.taskinput input::placeholder{
    color: #7c7a7a;

}

.controls{
    padding:  19px 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters span{
    cursor: pointer;
    margin: 0 10px;
    font-size: 17px;

}

.controls .clear-btn{
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 7px 11px;
    background: #3c87ff;
    cursor: pointer;
}

.filters span.active{
    color:rgb(77, 133, 224)
}

.taskbox{
    margin: 20px 25px;
}

.taskbox .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskbox .task:last-child{
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
.task label{
    display: flex;
}

.task label input{
    margin-right: 12px;
}

li{
    list-style: none;
    
}

.task .settings{
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    position: absolute;
    background: #fff;
    padding: 5px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.15) ;
    border-radius: 6px;
    z-index: 2;
    right: -5px;
    bottom: -61px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
}

.task-menu li{
    color:black;
}

.task-menu li{
    display: flex;
    height: 25px;
    font-size: 15px;
    margin-bottom: 2px;
    padding: 15px;
    justify-content: flex-start;

    & i{
        padding-right: 6px;
    }

    &:hover{
        background: #f5f5f5;
    }

    & :last-child{
        margin-bottom: 0;
    }
}

.settings .task-menu.show{
    transform: scale(1);
}

.task label p.checked{
    text-decoration:line-through;
    color: rgb(99, 97, 97);
}

.date-time{
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
        align-items: stretch; /
    }

    .wrapper {
        width: 100%; 
        border-radius: 0; 
    }

    .side-image {
        width: 100%; 
        height: auto;
        filter: drop-shadow(4px 4px 6px rgb(24, 24, 24));
        margin-bottom: 20px; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 1110px) {
    .container {
        flex-direction: column; 
        margin: 5px;
    }

    .wrapper {
        width: 70%; 
        margin-top: 20px; 
    }

    .side-image {
        width: 380px; 
        margin-right: 20px; 
    }
}

/* For large devices */
@media only screen and (min-width: 1025px) {
    .container {
        gap: 6rem; 
    }

    .wrapper {
        width: 800px;
    }

    .side-image {
        width: 400px;
    }
}


/* Media Queries for Responsive Design */

/* For small devices */
@media only screen and (max-width: 570px) {
    .container {
        flex-direction: column; 
        align-items: stretch; 
        margin: 10px;
        
    }

    .wrapper {
        width: 100%;
        border-radius: 0; 
    }

    .side-image {
        width: 100%; 
        height: auto;
        filter: drop-shadow(4px 4px 6px rgb(24, 24, 24));
        margin-bottom: 20px; 
    }

    .taskbox .task {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .taskbox .task label {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .taskbox .task label p {
        margin-right: 0; 
    }

    .taskbox .task label span.date {
        margin-left: auto; 
    }

    .taskbox .task .settings {
        margin-left: 0; 
    }
}



